<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catfood.Shapefile.dll" version="1.51" targetFramework="net452" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net452" />
  <package id="GeoAPI" version="1.7.2" targetFramework="net452" />
  <package id="NetTopologySuite" version="1.13.2" targetFramework="net452" />
  <package id="NetTopologySuite.IO.SpatiaLite" version="1.13.2" targetFramework="net452" />
  <package id="SpatialiteSharp" version="4.1.9.3" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.101.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.101.0" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.101.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.101.0" targetFramework="net452" />
  <package id="TileSharp" version="1.0.3.4" targetFramework="net452" />
  <package id="TileSharp.Data.Spatialite" version="1.0.2.0" targetFramework="net452" />
</packages>